[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Builds/
Artifacts/
.vs/
*.csproj
*.sln
*.slnx
*.pidb
*.user
*.unitypackage
SourceAssets/*.zip
SourceAssets/Furniture/
SourceAssets/Classroom/
.DS_Store
*.blend1
SourceAssets/Overhaul/
Assets/LocalLicensed/
Assets/LocalLicensed.meta
Assets/Resources/LocalLicensed/
Assets/Resources/LocalLicensed.meta
Assets/Resources/Audio/UserFootsteps/
Assets/Resources/Audio/UserFootsteps.meta
Distribution/NO-CAUSE-FOR-ALARM-Windows/
