[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Builds/
Artifacts/
.vs/
*.csproj
*.sln
*.slnx
*.pidb
*.user
*.unitypackage
SourceAssets/*.zip
SourceAssets/Furniture/
SourceAssets/Classroom/
.DS_Store
*.blend1
